{% extends 'core/base.html' %}
{% load staticfiles %}

{% block page-wrapper-left %}
    Welcome to Toroid Liaisons!
{% endblock %}

{% block content %}
    <link href="{% static 'css/block.css' %}" rel="stylesheet">
    <h1>Robo: DU-0</h1>
    <p id="mytext">
        Du-0 is a Twin-Stick Shooter game, with the goal to reach the end of level quickly. The twin stick shoote control scheme is that two analog sticks or direction pads are used: one to control player-character motion, and the other to control the aiming of a ranged weapon.
        Players can control the character's movement, aim a ranged weapon, and attack with a melee weapon, all independently.
        The player character will be a cute robot, with an early conceptual drawing depicting a spherical head attached to an oval body and a floating gun in detached hands.
    </p>
    </br></br>
{% endblock %}
